{% extends 'base.html.twig' %}

{% block body %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-lg-offset-2">
                    <div class="card">
                        <div class="header">
                            <h4 class="title text-center">Crear Pago</h4>
                        </div>
                        <div class="content">
                            <div class="row">

                            </div>
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6 col-lg-offset-3" >
                                    <div class="form-group" onchange="SelectTipo()">
                                        <label class="text-center">Tipo </label>
                                        {{ form_widget(form.tipoPago, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-6 " id="clienteHiden">
                                    <label for="">Clientes</label>
                                    <select onchange="SelectCliente()"  class="form-control border-input" name="" id="cliente">
                                        <option></option>
                                        {% for cliente in clientes %}
                                            <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-6" id="proyectosHiden">
                                    <div class="form-group">
                                        <label class="text-center">Proyectos</label>
                                        {{ form_widget(form.proyecto, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-offset-3" id="ingreso" >
                                    <div class="form-group" >
                                        <label class="text-center">Ingreso</label>
                                        {{ form_widget(form.ingreso, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-offset-3" id="egreso">
                                    <div class="form-group" >
                                        <label class="text-center">Egreso</label>
                                        {{ form_widget(form.egreso, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-lg-offset-3" id="extraccion">
                                    <div class="form-group" >
                                        <label class="text-center">Extraccion</label>
                                        {{ form_widget(form.extraccion, { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>
                            </div>
                            <div class="row" >
                                <div class="col-md-3  col-lg-offset-4" id="fecha">
                                    <div class="form-group">
                                        <label class="text-center">fecha</label>
                                        {{ form_widget( form.fecha , { 'attr': {'class':'form-control border-input'}})}}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a  class="btn btn-info btn-fill btn-wd"  href="{{ path('admin_pago_index') }}">Volver a la lista</a>

                                <input class="btn btn-success btn-fill btn-wd" type="submit" value="Crear" />
                            </div>
                            <div class="clearfix"></div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() { $("#idCliente").select2(); });
        $("#appbundle_pago_proyecto").empty();
        $("#ingreso").hide();
        $("#egreso").hide();
        $("#extraccion").hide();
        $("#clienteHiden").hide();
        $("#proyectosHiden").hide();
        $("#fecha").hide();

    </script>
    <script>
        function SelectTipo() {
            $("#fecha").show();

            var tipo=$("#appbundle_pago_tipoPago").val();
                if (tipo ==1) {
                    $("#ingreso").hide();
                    $("#egreso").show();
                    $("#extraccion").hide();
                    $("#clienteHiden").hide();
                    $("#proyectosHiden").hide();
                }
                else if(tipo ==2){
                    $("#ingreso").hide();
                    $("#egreso").hide();
                    $("#extraccion").show();
                    $("#clienteHiden").hide();
                    $("#proyectosHiden").hide();
                }
                else{
                    $("#ingreso").show();
                    $("#egreso").hide();
                    $("#extraccion").hide();
                    $("#clienteHiden").show();
                    $("#proyectosHiden").show();
                }

        }
        function  SelectCliente(){
            console.log($("#cliente").val());
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path ("admin_proyectoCliente") }}",
                    data: {id:$("#cliente").val()}
                }).done(function (data) {
                    $("#appbundle_pago_proyecto").empty();
                    $.each(data,function(key, value)
                    {
                        $("#appbundle_pago_proyecto").append('<option value=' + value.id + '>' + value.titulo + '</option>');
                    });
                });

            })
        }

    </script>

{% endblock %}
